# IDE related
.classpath
.project
.settings/
.idea/
*.iml

# Build related
target/
out/

# Maven
.mvn/

# Gradle
.gradle/

# Package files
*.jar
*.war

# Logs and databases
*.log
*.sql
*.sqlite

# System Files
.DS_Store

# Temporary Files
*.tmp
*.bak
*.swp

